@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-black px-10 py-2;
}

@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.rotated {
  animation: rotate 180 2s linear infinite; /* Change duration to 2s */
  transform-origin: center; /* Set the transform origin to the center */
}